/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

/coverage/

node_modules/
dist/
packages/cli/README.md
packages/core/README.md

test/*.js
**/src/**/*.js
**/src/**/*.d.ts
packages/*/test/*.js

.vscode/

tsconfig.tsbuildinfo
