/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/sdks

/coverage/

node_modules/
packages/*/dist/

tests/*.js
src/*.js
key.bin
key.bin.enc
key.pem
public.pem
ballotBob.yml.enc
ballotBob.yml

!/tests/fixtures/key.pem
!/tests/fixtures/public.pem
